@import "tailwindcss";


html, body, #__next {
  height: 100%;
}

body {
  @apply text-gray-800;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #f9fafb;
  background-image: url('/Check_BG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
